<h1>
  Properties
  <span class="badge">{{model.meta.total}}</span>
</h1>

{{page-numbers content=content}}

<dl>
  {{#each this}}
    <dt>{{#link-to 'property' this}}{{name}}{{/link-to}}</dt>
    <dd>{{preview-description description}}</dd>
  {{/each}}
</dl>
