<h1>
  Properties
  <span class="badge">TODO: Add Property Count</span>
</h1>

<dl>
  {{#each property in model}}
    <dt>{{#link-to 'property' property}}{{property.name}}{{/link-to}}</dt>
    <dd>{{preview-description property.description}}</dd>
  {{/each}}
</dl>
